.guild {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  .guildInner {
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
    background: #2f3136;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
  }
  .link {
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 10px;
  }
}

.selected::before {
  position: absolute;
  content: " ";
  left: -17px;
  bottom: 11px;
  width: 13px;
  border-radius: 29%;
  height: 28px;
  background-color: white;
}
